@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
  @apply bg-slate-200;
}

a.active {
  @apply bg-slate-300;
}

table {
  min-width: 100%;
}

th {
  @apply bg-white;
  box-shadow: inset -1px -1px rgb(203 213 225); /* slate-300 */
}

th:last-child {
  box-shadow: inset 0px -1px rgb(203, 213, 225); /* slate-300 */
}

tr {
  @apply h-6;
}

tr:hover {
  @apply bg-slate-50;
}

td {
  @apply p-0;
  @apply h-6;
  @apply text-left;
  @apply text-xs;
}

input {
  @apply h-full w-full truncate bg-transparent px-1 text-slate-900;
}

input:hover {
  @apply text-clip;
}

input:focus {
  @apply bg-white outline outline-1 outline-slate-400;
  position: relative;
}

input:invalid {
  @apply bg-white outline-dotted outline-1 outline-red-400;
}
